@model IEnumerable<Human_Resources.EmpleadosInactivos>
@{
    ViewBag.Title = "EmployeeInactive";
}

<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="width: 100%;">
        <div class="container">
            <a class="navbar-brand" style="font-size:25px;" href="/employees/Menu">Human Resources</a>
            <button class="navbar-toggler" style="font-size:20px;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Employee
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Employees/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Employees/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Departament
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Departaments/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Departaments/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Position
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Positions/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Positions/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:15px;">
                            Roster
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Nominas/Index" style="font-size:16px;">List</a>
                            <a class="dropdown-item" href="/Nominas/Create" style="font-size:16px;">Create</a>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="btn btn-outline-info btn-lg mr-2 p-3" href="#">
                <i class="fas fa-info"></i> Info
            </a>
            <a class="btn btn-outline-success btn-lg p-3" href="#">
                <i class="fas fa-user-alt"></i> About Me
            </a>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="display-4"> Inactive Employees</h2>

        @foreach (var item in Model)
        {
            <div class="row mt-4">
                <div class="col-12">
                    <div class="card">

                        <div class="card-header bg-primary">
                            <h2 class="display-4"><span class="badge badge-danger">Fullname</span> <span>@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Lastname)</span></h2>
                        </div>

                        <div class="card-body">

                            <strong class="h2">@Html.DisplayNameFor(model => model.Code):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Code)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Telephone):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Telephone)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Admission):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Admission)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Salary):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Salary)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Status):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Status)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Departament):</strong> <span class="h2"> @Html.DisplayFor(modelItem => item.Departament)</span><br /><br />
                            <strong class="h2">@Html.DisplayNameFor(model => model.Position):</strong> <span class="h2">@Html.DisplayFor(modelItem => item.Position)</span>

                        </div>
                    </div>

                </div>
            </div>

        }

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


