@model IEnumerable<Human_Resources.EmpleadosActivos>
@{
    ViewBag.Title = "EmployeeActive";
}

<h2>EmployeeActive</h2>

<table class="table">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => model.Code)</th>

            <th>@Html.DisplayNameFor(model => model.Name)</th>

            <th>@Html.DisplayNameFor(model => model.Lastname)</th>

            <th>@Html.DisplayNameFor(model => model.Departament)</th>

            <th>@Html.DisplayNameFor(model => model.Position)</th>

            <th>@Html.DisplayNameFor(model => model.Admission)</th>

            <th>@Html.DisplayNameFor(model => model.Salary)</th>

            <th>@Html.DisplayNameFor(model => model.Status)</th>

            <th>@Html.DisplayNameFor(model => model.Telephone)</th>


        </tr>
    </thead>
   

    @foreach (var item in Model)
    {
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => item.Code)</td>

            <td>@Html.DisplayFor(model => item.Name)</td>

            <td>@Html.DisplayFor(model => item.Lastname)</td>

            <td>@Html.DisplayFor(model => item.Departament)</td>

            <td>@Html.DisplayFor(model => item.Position)</td>

            <td>@Html.DisplayFor(model => item.Admission)</td>

            <td>@Html.DisplayFor(model => item.Salary)</td>

            <td>@Html.DisplayFor(model => item.Status)</td>

            <td>@Html.DisplayFor(model => item.Telephone)</td>
        </tr>
    </tbody>
        
    }
</table>

