@model Human_Resources.Nomina

@{
    ViewBag.Title = "Create";
}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
  </head>
  <body style="background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
      @using (Html.BeginForm())
      {
          @Html.AntiForgeryToken()

      <div class="container mt-5" style="margin-left:200px;">
          <h2 class="display-4 text-warning">Create</h2>
          <div class="row">
              <div class="col-7">
                  <hr />
                  <div class="card">
                      <div class="card-header">
                          <h1 class="display-4"><span class="badge badge-danger">Form Roster</span></h1>
                      </div>
                      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                      <div class="card-body">
                          <form>

                              <div class="form-group">
                                  @Html.LabelFor(model => model.Año, "Year", htmlAttributes: new { @class = "control-label col-md-2 mt-2", @style = "font-size:12px" })
                                  @Html.DropDownList("Año", new List<SelectListItem>{new SelectListItem{Text="2009", Value = "2009"},
                                      new SelectListItem{Text="2010", Value = "2010"},  new SelectListItem{Text="2011", Value = "2011"},  new SelectListItem{Text="2012", Value = "2012"}
                                      ,  new SelectListItem{Text="2013", Value = "2013"},  new SelectListItem{Text="2014", Value = "2014"},  new SelectListItem{Text="2015", Value = "2015"},
                                      new SelectListItem{Text="2016", Value = "2016"}, new SelectListItem{Text="2017", Value = "2017"}, new SelectListItem{Text="2018", Value = "2018"},
                                      new SelectListItem{Text="2019", Value = "2019"}},
                                       "Select Year", new { @class = "form-control col-10", @style = "font-size:14px" })
                                  @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })

                              </div>

                              <div class="form-group">
                                  @Html.LabelFor(model => model.Mes, "Month", htmlAttributes: new { @class = "control-label col-md-2 mt-2", @style = "font-size:12px" })
                                  @Html.DropDownList("Mes", new List<SelectListItem>{new SelectListItem{Text="January", Value = "January"},
                                    new SelectListItem{Text="February", Value = "February"},  new SelectListItem{Text="March", Value = "March"},  new SelectListItem{Text="April", Value = "April"}
                                    ,  new SelectListItem{Text="May", Value = "May"},  new SelectListItem{Text="June", Value = "June"},  new SelectListItem{Text="August", Value = "August"},
                                    new SelectListItem{Text="September", Value = "September"}, new SelectListItem{Text="October", Value = "October"}, new SelectListItem{Text="November", Value = "November"},
                                    new SelectListItem{Text="December", Value = "December"}},
                                    "Select Month", new { @class = "form-control col-10", @style = "font-size:14px" })
                                  @Html.ValidationMessageFor(model => model.Mes, "", new { @class = "text-danger" })

                              </div>

                              <div class="form-group">
                                  @Html.LabelFor(model => model.MontoTotal, "Total Amount", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:12px" })
                                  @Html.EditorFor(model => model.MontoTotal, new { htmlAttributes = new { @class = "form-control col-10 p-4", @placeholder = "Total Amount", @style = "font-size:14px" } })
                                  @Html.ValidationMessageFor(model => model.MontoTotal, "", new { @class = "text-danger" })

                              </div>
                              <button class="btn btn-primary btn-block p-3" type="submit">
                                  <span style="font-size:14px; ">Create</span>
                              </button>

                          </form>

                      </div>
                  </div>
              </div>
          </div>
          <a class="btn btn-warning btn-lg p-3 mt-3" href="/Nominas/Index">Back To List</a>
      </div>


      }

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

