@model Human_Resources.Nomina
@{
    ViewBag.Title = "Edit";
}
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

</head>
<body style="background: #4B79A1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container mt-5" style="margin-left:200px;">
            <h2 class="display-4 text-warning">Edit</h2>
            <div class="row">
                <div class="col-7">
                    <hr />
                    <div class="card">
                        <div class="card-header">
                            <h1 class="display-4"><span class="badge badge-danger">Edit Roster</span></h1>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="card-body">
                            <form>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Año, "Year", htmlAttributes: new { @class = "control-label col-md-2 mt-2", @style = "font-size:12px" })
                                    @Html.EditorFor(model => model.Año, new { htmlAttributes = new { @class = "form-control col-10 p-4", @placeholder = "Enter Year", @style = "font-size:14px" } })
                                    @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mes, "Month", htmlAttributes: new { @class = "control-label col-md-2 mt-2", @style = "font-size:12px" })
                                    @Html.EditorFor(model => model.Mes, new { htmlAttributes = new { @class = "form-control col-10 p-4", @placeholder = "Enter Month", @style = "font-size:14px" } })
                                    @Html.ValidationMessageFor(model => model.Mes, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MontoTotal, "Total Amount", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:12px" })
                                    @Html.EditorFor(model => model.MontoTotal, new { htmlAttributes = new { @class = "form-control col-10 p-4", @placeholder = "Total Amount", @style = "font-size:14px" } })
                                    @Html.ValidationMessageFor(model => model.MontoTotal, "", new { @class = "text-danger" })

                                </div>
                                <button class="btn btn-primary btn-block p-3" type="submit">
                                    <span style="font-size:14px; ">Save</span>
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-warning btn-lg p-3 mt-3" href="/Nominas/Index">Back To List</a>
        </div>


    }

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


